@keyframes anime {
	from {
		transform: scale(1) rotate(45deg);
	}
	to {
		transform: scale(1.1) rotate(45deg);
	}
}

.heart {
	animation-name: 'anime';
		/* имя кейфрейма для анимации */
	animation-duration: 300ms;
		/* длительность анимации */
	animation-iteration-count: infinite;
		/* количество повторений, в данном случае - бесконечно */
	animation-direction: alternate;
		/* проигрывать анимацию в прямом и в обратном порядке */
	animation-timing-function: ease-in;
		/* вычисление временных промежутков для анимации, в данном случае анимация ускоряется */
}

@-webkit-keyframes anime {
	from {
		-webkit-transform: scale(1) rotate(45deg);
	}
	to {
		-webkit-transform: scale(1.1) rotate(45deg);
	}
}
.heart {
	-webkit-animation-name: 'anime';
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in;
}

